@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Silka";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Silka/silka-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Silka";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Silka/silka-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Silka";
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Silka/silka-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Silka";
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Silka/silka-light.woff2") format("woff2");
}
